// define default classes (IN UPPERCASE)

// font
.FONT_TITLE {
  font-family: $font-title;
}
.FONT_CONTENT {
  font-family: $font-content;
}
.ITALIC {
  font-style: italic;
}
.BOLD {
  font-weight: bold;
}
.NOWRAP {
  white-space: nowrap;
}

// color
.COLOR_MAIN {
  color: blue;
}
.COLOR_ERROR {
  color: $color-error;
}
