// free to use fonts only
$font-title: 'Bebas Neue', Impact; // https://dharmatype.com/bebas-neue, https://github.com/dharmatype/Bebas-Neue
$font-content: Lato, 'sans-serif';
$font-content-alt: Roboto, 'sans-serif';
