ul:not(.md-list) > li + li {
    margin-top: 0;
}

a:not(.md-button):not(.md-bottom-bar-item):hover {
    text-decoration: none;
}

//audio:not(.md-image),
//img:not(.md-image),
//svg:not(.md-image),
//object:not(.md-image),
//embed:not(.md-image),
//canvas:not(.md-image),
//video:not(.md-image),
//iframe:not(.md-image) {
//    height: inherit;
//}
